$MainColor: rgb(40, 40, 40);

body {
  background-image: url('../assets/sunny.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #282c34;
  background-attachment: fixed;
  color: $MainColor;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  user-select: none;
}

.App {
  text-align: center;
  padding: 32px 0;

  &Title {
    margin: 0 0 32px;
    color: rgba($MainColor, 0.7);

    a {
      color: rgba($MainColor, 0.7);

      &:hover,
      &:focus {
        color: rgba($MainColor, 0.7);
      }
    }

    &UnitToggler {
      margin-left: 8px;
    }
  }

  &Input {
    border: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    width: auto;
    max-width: 320px;

    &:focus {
      outline: none;
    }
  }

  &List {
    padding: 32px 16px;
    max-width: 900px;
    margin: auto;
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    align-items: flex-start;

    &Item {
      border-radius: 5px;
      padding: 16px;
      font-size: larger;

      &-Day::first-letter {
        text-transform: uppercase;
      }

      svg {
        margin: 16px 0;
      }
    }
  }

  &BottomTitle {
    span {
      color: rgba($MainColor, 0.3);
      transition: 0.3s all ease-out;
      cursor: default;

      &:hover {
        color: $MainColor;
      }
    }
  }

  a {
    cursor: pointer !important;
    text-decoration: none;
  }
}

.BlurBackground {
  backdrop-filter: blur(4px);
  background-color: rgba(69, 69, 69, 0.35);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  color: white;
}

.cloud {
  width: 600px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: -100px;
}

#cloud-base {
  top: 90px;
  height: 100px;
  filter: url(#filter-base);
  box-shadow: 200px 170px 19px 40px rgba(255, 255, 255, 0.9);
}
#cloud-back {
  top: 90px;
  height: 30px;
  width: 500px;
  filter: url(#filter-back);
  box-shadow: 200px 200px 10px 40px rgba(215, 215, 215, 0.3);
}

#cloud-mid {
  top: 80px;
  width: 580px;
  height: 35px;
  filter: url(#filter-mid);
  box-shadow: 210px 250px 28px 30px rgba(66, 105, 146, 0.2);
}

#cloud-front {
  top: 70px;
  width: 450px;
  height: 40px;
  left: -20px;
  filter: url(#filter-front);
  box-shadow: 210px 272px 30px 0px rgba(0, 0, 0, 0.4);
}
